<extend name="Common/meta" />
<block name="body">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑会员</h5>
                </div>
                <form  action="{:U('Member/save')}" method="post">
                <input type="hidden" name="id" id="id" value="{$member.id}">
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">会员姓名</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="uname" value="{$member.uname}" placeholder="请填写会员姓名" id="uname">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                会员性别
                            </label>

                            <div class="col-sm-10">
                                <div class="radio i-checks">
                                    <label><input type="radio" value="1" id="sex" name="sex" <if condition="($member['sex'] eq 1)"> checked="checked" </if> > <i></i> 男</label>
                                    <label><input type="radio" id="sex" value="0" name="sex" <if condition="($member['sex'] eq 0)"> checked="checked" </if> > <i></i>女</label>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">邮箱</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="email" value="{$member.email}" placeholder="请填写邮箱" id="email">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">联系方式</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="phone" value="{$member.phone}" placeholder="请填写方式" id="native_place">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">个人简介</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="introduction" value="{$member.introduction}" placeholder="请填写个人简介" id="introduction">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" id="save">保存内容</button>
                                <button class="btn btn-white" type="button" onclick="history.go(-1);">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<!-- <script>
    // 定义全局变量
    var GV = {
        member_editmember : "{:U('Member/editMember')}",
        member_id : "{$member.id}"
    };
</script>
<script src="__JS__/http/member/editmember.js"></script>
<script src="__JS__/http/upload.js"></script> -->
</block>